@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Shadows+Into+Light&display=swap');
header {
    background-color: seagreen;
    font-family: Helvetica, sans-serif;
}
div {
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 75px;
    padding-left: 50px;
}
h2 {
    font-family: 'Shadows Into Light', cursive;
    color: black;
    background-color: mintcream;
    font-size: 42px;
    text-align: center;
}
h3 {
    font-family: 'Shadows Into Light', cursive;
    color: gray;
    background-color: mintcream;
    font-size: 42px;
    text-align: center;
}
@keyframes car {
    from {background-color: seagreen;}
    to {background-color: papayawhip;}
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation-name: car;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
